@import url('https://fonts.googleapis.com/css2?https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Inter:wght@300;400&family=Oswald:wght@300;500&family=Playfair+Display&display=swap=Bricolage+Grotesque:opsz@10..48&family=Oswald:wght@300;500&family=Playfair+Display&display=swaphttps://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Oswald:wght@300;500&display=swap');

body{
    font-family:'Inter', sans-serif;
}
.LoginPage{
    position:relative;
    width:22%;
    left:40%;
    padding:30px;
    top:200px;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.52);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.bg {
    background-image: url("./img/john-lee-oMneOBYhJxY-unsplash.jpg");
    height: auto;
    min-height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav ul{
  list-style-type: none;
  white-space: nowrap;
  justify-content: center;
  text-align: center;
}
table{
    border: 1px solid;
}
.tborder{
    border:1px solid;
}
#popupbox{
    position: relative;
    display:"block";
    width: 50%;
    height:15cm;
    left: 300px;
    color:"red";
    background-color:"red";
}
#modal{
    display:"block";    
    background-color: rgb(0,0,0);
    opacity: 0.5;
    height: 100%;
}
nav li{
  font-size: 20px;
  background-color: #fafafa;
  border-radius: 10px;
  color:red;
  margin: 20px;
  display: inline-block;
}
.navbar{
  height:2cm;
  background-color: #dc3545;
}
.loginButton{
    right:20px;
}
 @media (min-width: 320px) and (max-width:480px){
    .LoginPage{
        position:relative;
        width:80%;
        left:10%;
        padding:30px;
        top:200px;
    }
    .bg {
        background-image: url("./img/john-lee-oMneOBYhJxY-unsplash.jpg");
        height: auto;
        min-height:100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .loginButton{
        right:20px;
    }
 }